


  h4.samir_bangla{
    color: #000000  ;
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 40px;
  }
  .samir_bangla{
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 18px;;
  }

.event_date_box {
    background-color: #1ea126;
    width: 140px;
    height: 108px;
    text-align: center;
    border-radius: 9px;
}

.inner_txt_bx {
    padding-top: 15px;
}

.event_title h4{
    color: #000000;
}

.event_times {
    padding-top: 5px;
    padding-bottom: 5px;
}

.event_times ,
.event_locations {
    font-size: 16px;
}

.event_times span,
.event_locations span{
    font-size: 16px;
}

.event_title {
    padding-bottom: 12px;
}

.event_image_box img {
    margin-top: -40px;
    border-radius: 10px;
}
.event_times i,
.event_locations i
{
    color: #1ea126;
}

.institute-block_one-icon img {
    margin-top: -26px;
}
.institute-block_one-inner:hover .institute-block_one-text {
    color: rgb(19 19 19);
}

.institute-block_one-inner:hover .institute-block_one-heading a {
    color:#000000;
}
.institute-block_one-inner {
    border: 1px solid #28a745;
}
.institute-block_one-inner {
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.institute-block_one-icon {
    background-color: #ffffff;
    border: 2px solid rgb(9 177 1);
}

.institute-block_one-inner {
    height: 350px;
}
.institute-block_one-text {
    color: rgb(71 51 59);
}